@using i18n = Sieena.Parking.Common.Resources.UI;

<div class="right">
    
    <div class="copy" style="">
        &copy; 2012
        <span class="separator"></span>
    </div>

    <ul class="list-inline">
        <li><a href="/" data-langkey="Footer_Home">@i18n.Footer_Home</a></li>
        <li><a href="/about" data-langkey="Footer_About" >@i18n.Footer_About</a></li>
        <!--<li><a href="/help">@i18n.Footer_Help</a></li>
        <li><a href="/privacy">@i18n.Footer_Privacy</a></li> -->
        <li><a href="/terms" data-langkey="Footer_Terms">@i18n.Footer_Terms</a></li>
        <li><a href="http://www.sieena.com/">@i18n.Footer_Sieena</a></li>
        <li class="separator"></li>
        <li><a href="/login" data-langkey="Footer_Login">@i18n.Footer_Login</a></li>
    </ul>
</div>

<div class="left">
    <a href="http://www.sieena.com/">
        <img src="/Content/Images/icn-sieena-footer.png" alt="Driving Software Solutions Forward" width="194" height="15" />
    </a>
</div>